<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-10 content">
      <div class="title borde-title">
        <a [routerLink]="['/contratos']"> Contratos </a> / informes
      </div>
      <div class="content-section">
        <div class="table">
          <div class="table-responsive">
            <span class="table-add float-right mb-0 mr-0">
              <a class="text-warning" (click)="openFormModal()">
                <i class="fa fa-fw fa-plus fa-2x" aria-hidden="true"></i>
              </a>
            </span>
            <p *ngIf="!(informes && informes.length)">
              No Existen Datos que Mostrar
            </p>
            <div *ngIf="informes && informes.length">
              <table class="table table-striped-sm table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">C&oacute;digo</th>
                    <th scope="col">Tipo de Informe</th>
                    <th scope="col">Fecha de Informe</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let informe of informes | paginate: { itemsPerPage: 4, currentPage: paginaActual} ">
                    <td>{{ informe.txt_codigoInforme }}</td>
                    <td>{{ informe.qn_tipoInforme }}</td>
                    <td>{{ informe.dt_fechaInforme | date: 'dd-MM-yyyy'  }}</td>
                    <td><a (click)="updateInforme(informe)"><i class="fa fa-refresh" aria-hidden="true"></i></a></td>
                    <td><a ><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="paginaActual = $event" *ngIf="informes.length>4"></pagination-controls>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
