<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse position-fixed d-sm-inline-flex flex-sm-row-reverse"[ngClass]="{ show: isExpanded }">
            <ul class="nav navbar-nav side-nav flex-grow">
                <li>
                  <a data-toggle="collapse" data-target="#submenu-contract"><i class="fa fa-fw fa-search"></i><strong> Contratos</strong><i class="fa fa-angle-double-down pull-right"></i></a>
                  <ul id="submenu-contract" class="collapse show disabled" #ulContrato>
                    <li><a [routerLink]="['/DatosGenerales']"><small> Datos Generales</small></a></li>
                    <li><a [routerLink]="['/Garantia']"><small> Garantias</small></a></li>
                    <li><a [routerLink]="['/formaPago']"><small> Forma de Pago</small></a></li>
                    <li><a [routerLink]="['/Entregables']"><small> Entregables</small></a></li>
                    <li><a [routerLink]="['/Modificacion']"><small> Modificaci&oacute;n</small></a></li>
                    <li><a [routerLink]="['/Informes']"><small> Informes</small></a></li>
                    <li><a [routerLink]="['/Multa']"><small> Multas</small></a></li>
                    <li><a [routerLink]="['/Acta']"><small> Actas de Recepci&oacute;n</small></a></li>
                    <li><a [routerLink]="['/Vencimientos']"><small> Vencimientos</small></a></li>
                    <li><a [routerLink]="['/Solicitud']"><small> Solicitud de Transferencia</small></a></li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['/Consulta']"><i class="fa fa-fw fa-user-plus"></i> <strong> Consulta Generica </strong><i class="fa fa-angle-double-right pull-right"></i></a>
                </li>
                <li>
                  <a [routerLink]="['/Historial']"><i class="fa fa-fw fa-paper-plane-o"></i><strong> Historial </strong><i class="fa fa-angle-double-right pull-right"></i></a>
                </li>                
            </ul>
        </div>
